h1 {
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  src: url("FontFont_FF.Mark.Pro.a9b9e15e.otf") format("otf");
}

* {
  box-sizing: border-box;
}

body, p, ul, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

.page {
  scroll-behavior: smooth;
  color: #929292;
  min-width: 320px;
  font-family: Inter, serif;
  font-size: 16px;
  line-height: 150%;
}

.page:has(.page__menu:target), .page:has(.page__help:target), .page:has(.page__faq:target), .page:has(.page__order:target), .page:has(.page__language:target) {
  overflow: hidden;
}

.page__aside {
  background-color: #000000b3;
  height: 100%;
  transition: transform .3s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  transform: translateY(-100%);
}

.page__aside:target {
  transform: translateY(0);
}

.header {
  background: linear-gradient(100.83deg, #191536 .67%, #000 100%);
}

.header__content {
  padding-bottom: 46px;
}

@media (width >= 1280px) {
  .header__content {
    padding-bottom: 84px;
  }
}

@media (width >= 1440px) {
  .header__content {
    padding-bottom: 107px;
  }
}

@media (width >= 640px) {
  .header__top {
    margin-bottom: 25px;
  }

  .header__container {
    --columns: 2;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: auto;
    column-gap: 20px;
    display: grid;
  }
}

@media (width >= 640px) and (width >= 640px) {
  .header__container {
    --columns: 6;
  }
}

@media (width >= 640px) and (width >= 1280px) {
  .header__container {
    --columns: 12;
  }
}

@media (width >= 640px) and (width >= 1440px) {
  .header__container {
    --columns: 16;
  }
}

@media (width >= 1280px) {
  .header__container {
    margin-bottom: 84px;
  }
}

.header__slider {
  padding-block: 10px;
  display: flex;
}

@media (width >= 640px) {
  .header__slider {
    order: 1;
    grid-area: span 2 / 4 / auto / -1;
    display: flex;
    overflow: hidden;
  }
}

@media (width >= 1280px) {
  .header__slider {
    grid-column: 7 / -1;
  }
}

.header__image {
  object-fit: contain;
  width: 100%;
  display: block;
  transform: scale(1.1);
}

.header__title {
  color: #fff;
  margin-bottom: 17px;
  font-size: 26px;
  font-weight: 900;
  line-height: 130%;
}

@media (width >= 640px) {
  .header__title {
    order: 0;
    grid-column: 1 / 4;
  }
}

@media (width >= 1280px) {
  .header__title {
    grid-column: 1 / 7;
    font-size: 46px;
  }
}

@media (width >= 640px) {
  .header__info {
    order: 2;
    grid-column: 1 / 4;
  }
}

@media (width >= 1280px) {
  .header__info {
    grid-column: 2 / 6;
  }
}

.header__description {
  margin-bottom: 8px;
  font-weight: 500;
}

@media (width >= 640px) {
  .header__description {
    margin-bottom: 10px;
  }
}

.header__price {
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 500;
}

@media (width >= 640px) {
  .header__price {
    margin-bottom: 24px;
  }
}

@media (width >= 1280px) {
  .header__price {
    text-align: left;
    margin-bottom: 20px;
  }
}

.header__bottom {
  color: #fff;
  font-weight: 500;
  display: none;
}

@media (width >= 1280px) {
  .header__bottom {
    justify-content: space-between;
    display: flex;
  }
}

.header__qa {
  gap: 40px;
  display: flex;
}

.header__link {
  color: inherit;
  text-decoration: none;
  transition: color .3s;
}

.header__link:hover {
  color: #05c2df;
}

.header__navigation {
  flex-direction: column;
  gap: 10px;
  display: flex;
}

.header__switch-photo {
  gap: 103px;
  display: flex;
  position: relative;
}

.header__scrollbar {
  height: 1px;
}

.header .swiper-button-next-header, .header .swiper-button-prev-header {
  cursor: pointer;
  color: #fff;
}

.header .swiper-button-disabled {
  cursor: no-drop;
  color: #929292;
}

.header .swiper-scrollbar-header {
  --swiper-scrollbar-size: 2px;
  --swiper-scrollbar-bottom: 0;
  background-color: #212121;
}

.footer {
  background-color: #000;
}

.footer__content {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 20px;
  padding-top: 45px;
  padding-bottom: 50px;
  display: grid;
}

@media (width >= 640px) {
  .footer__content {
    --columns: 6;
  }
}

@media (width >= 1280px) {
  .footer__content {
    --columns: 12;
  }
}

@media (width >= 1440px) {
  .footer__content {
    --columns: 16;
  }
}

@media (width >= 640px) {
  .footer__content {
    justify-content: space-between;
    align-items: baseline;
    display: flex;
  }
}

.footer__logo {
  grid-column: 1 / -1;
  margin-bottom: 15px;
}

.footer__nav {
  grid-area: 2 / 1 / 4;
}

.footer__list {
  flex-direction: column;
  gap: 12px;
  list-style: none;
  display: flex;
}

@media (width >= 640px) {
  .footer__list {
    flex-direction: row;
    gap: 40px;
  }
}

.footer__link {
  color: #fff;
  font-size: 13px;
  text-decoration: none;
  transition: color .3s;
}

.footer__link:hover {
  color: #05c2df;
}

@media (width >= 640px) {
  .footer__link {
    font-size: 14px;
  }
}

.footer__contacts {
  flex-direction: column;
  grid-column: 2;
  gap: 12px;
  margin-bottom: 22px;
  display: flex;
}

@media (width >= 640px) {
  .footer__contacts {
    display: none;
  }
}

.footer__contact {
  color: inherit;
  font-size: 13px;
  text-decoration: none;
  transition: color .3s;
}

.footer__contact:hover {
  color: #05c2df;
}

.footer__social-medias {
  grid-column: 2;
  gap: 18px;
  display: flex;
}

@media (width >= 1440px) {
  .footer__social-medias {
    gap: 28px;
  }
}

.footer__icon {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  transition: transform .3s;
  display: block;
}

.footer__icon:hover {
  transform: scale(1.2);
}

.footer__icon--facebook {
  background-image: url("facebook.e8ffc693.svg");
}

.footer__icon--x {
  background-image: url("x.f94c69f8.svg");
}

.footer__icon--youtube {
  background-image: url("youtube.3c0b9a2b.svg");
}

.footer__icon--reddit {
  background-image: url("reddit.92c43211.svg");
}

.container {
  padding-inline: 20px;
}

@media (width >= 640px) {
  .container {
    padding-inline: 34px;
  }
}

@media (width >= 1280px) {
  .container {
    padding-inline: 110px;
  }
}

@media (width >= 1440px) {
  .container {
    max-width: 1920px;
    margin-inline: auto;
    padding-inline: 234px;
  }
}

.form {
  flex-direction: column;
  grid-column: 1 / -1;
  gap: 24px;
  display: flex;
}

.form__label {
  font-size: 14px;
}

.form__label--error {
  color: #860404;
}

.form__field {
  flex-direction: column;
  display: flex;
}

.form__field:focus-within .form__label {
  color: #05c2df;
}

.form__input {
  resize: none;
  color: #fff;
  background-color: inherit;
  caret-color: #05c2df;
  border: none;
  border-bottom: 1px solid #2f2f2f;
  outline: none;
  width: 100%;
  font-size: 18px;
}

@media (width >= 640px) {
  .form__input {
    font-size: 20px;
  }
}

.form__input:focus {
  border-bottom: 1px solid #05c2df;
}

.form__input--error {
  border-bottom: 1px solid #860404;
}

.form__select {
  position: relative;
}

.form__select-input {
  padding-left: 24px;
  padding-block: 13px;
}

.form__dropdown {
  z-index: 4;
  width: 100%;
  position: absolute;
  top: 56px;
}

.form__button {
  cursor: pointer;
  border: none;
}

input:-webkit-autofill {
  --lightningcss-light: ;
  --lightningcss-dark: initial;
  color-scheme: dark;
  background-color: inherit;
  -webkit-box-shadow: none;
  -webkit-text-fill-color: #fff;
  border: none;
  border-bottom: 1px solid #2f2f2f;
  transition: background-color 5000s ease-in-out;
}

input:-webkit-autofill:hover {
  --lightningcss-light: ;
  --lightningcss-dark: initial;
  color-scheme: dark;
  background-color: inherit;
  -webkit-box-shadow: none;
  -webkit-text-fill-color: #fff;
  border: none;
  border-bottom: 1px solid #2f2f2f;
  transition: background-color 5000s ease-in-out;
}

input:-webkit-autofill:focus {
  --lightningcss-light: ;
  --lightningcss-dark: initial;
  color-scheme: dark;
  background-color: inherit;
  -webkit-box-shadow: none;
  -webkit-text-fill-color: #fff;
  border: none;
  border-bottom: 1px solid #2f2f2f;
  transition: background-color 5000s ease-in-out;
}

textarea:-webkit-autofill {
  --lightningcss-light: ;
  --lightningcss-dark: initial;
  color-scheme: dark;
  background-color: inherit;
  -webkit-box-shadow: none;
  -webkit-text-fill-color: #fff;
  border: none;
  border-bottom: 1px solid #2f2f2f;
  transition: background-color 5000s ease-in-out;
}

textarea:-webkit-autofill:hover {
  --lightningcss-light: ;
  --lightningcss-dark: initial;
  color-scheme: dark;
  background-color: inherit;
  -webkit-box-shadow: none;
  -webkit-text-fill-color: #fff;
  border: none;
  border-bottom: 1px solid #2f2f2f;
  transition: background-color 5000s ease-in-out;
}

textarea:-webkit-autofill:focus {
  --lightningcss-light: ;
  --lightningcss-dark: initial;
  color-scheme: dark;
  background-color: inherit;
  -webkit-box-shadow: none;
  -webkit-text-fill-color: #fff;
  border: none;
  border-bottom: 1px solid #2f2f2f;
  transition: background-color 5000s ease-in-out;
}

select:-webkit-autofill {
  --lightningcss-light: ;
  --lightningcss-dark: initial;
  color-scheme: dark;
  background-color: inherit;
  -webkit-box-shadow: none;
  -webkit-text-fill-color: #fff;
  border: none;
  border-bottom: 1px solid #2f2f2f;
  transition: background-color 5000s ease-in-out;
}

select:-webkit-autofill:hover {
  --lightningcss-light: ;
  --lightningcss-dark: initial;
  color-scheme: dark;
  background-color: inherit;
  -webkit-box-shadow: none;
  -webkit-text-fill-color: #fff;
  border: none;
  border-bottom: 1px solid #2f2f2f;
  transition: background-color 5000s ease-in-out;
}

select:-webkit-autofill:focus {
  --lightningcss-light: ;
  --lightningcss-dark: initial;
  color-scheme: dark;
  background-color: inherit;
  -webkit-box-shadow: none;
  -webkit-text-fill-color: #fff;
  border: none;
  border-bottom: 1px solid #2f2f2f;
  transition: background-color 5000s ease-in-out;
}

input:-webkit-autofill:focus {
  border-bottom: 1px solid #05c2df;
}

input:-webkit-autofill:hover:focus {
  border-bottom: 1px solid #05c2df;
}

input:-webkit-autofill:focus:focus {
  border-bottom: 1px solid #05c2df;
}

textarea:-webkit-autofill:focus {
  border-bottom: 1px solid #05c2df;
}

textarea:-webkit-autofill:hover:focus {
  border-bottom: 1px solid #05c2df;
}

textarea:-webkit-autofill:focus:focus {
  border-bottom: 1px solid #05c2df;
}

select:-webkit-autofill:focus {
  border-bottom: 1px solid #05c2df;
}

select:-webkit-autofill:hover:focus {
  border-bottom: 1px solid #05c2df;
}

select:-webkit-autofill:focus:focus {
  border-bottom: 1px solid #05c2df;
}

.button {
  z-index: 3;
  color: #fff;
  text-align: center;
  background-color: #05c2df;
  border-radius: 4px;
  width: 100%;
  max-width: 280px;
  padding-block: 11px;
  font-size: 14px;
  font-weight: 500;
  line-height: 130%;
  text-decoration: none;
  transition: box-shadow .3s;
  display: block;
}

.button:hover {
  box-shadow: 0 0 10px 5px #05c2df;
}

@media (width >= 640px) {
  .button {
    max-width: 458px;
    padding-block: 13px;
    font-size: 16px;
  }
}

.button:active {
  color: #05c2df;
  background-color: #fff;
}

.top-bar {
  justify-content: space-between;
  align-items: center;
  padding: 18px 0 14px;
  display: flex;
}

@media (width >= 640px) {
  .top-bar {
    padding-block: 30px;
  }
}

.top-bar__lang {
  display: none;
}

@media (width >= 1280px) {
  .top-bar__lang {
    margin-left: 34px;
    display: block;
    position: relative;
  }
}

.top-bar__nav {
  display: none;
}

@media (width >= 1280px) {
  .top-bar__nav {
    justify-content: flex-end;
    width: 100%;
    margin-right: 37px;
    display: flex;
  }
}

.top-bar__list {
  gap: 36px;
  list-style: none;
  display: flex;
}

.top-bar__link {
  color: #fff;
  font-weight: 500;
  line-height: 130%;
  text-decoration: none;
  transition: color .3s;
}

.top-bar__link:hover {
  color: #05c2df;
}

.top-bar__icon {
  background-size: cover;
  width: 20px;
  height: 20px;
  transition: transform .3s;
  display: block;
}

.top-bar__icon:hover {
  transform: scale(1.2);
}

@media (width >= 640px) {
  .top-bar__icon {
    width: 30px;
    height: 30px;
  }
}

.top-bar__icon--burger {
  background-image: url("burger.41435640.svg");
}

@media (width >= 1280px) {
  .top-bar__icon--burger {
    display: none;
  }
}

.top-bar__icon--close {
  background-image: url("close.fb298962.svg");
}

.top-bar__button {
  display: none;
}

@media (width >= 1280px) {
  .top-bar__button {
    width: 200px;
    display: block;
  }
}

.swiper {
  --swiper-navigation-color: #fff;
  width: 100%;
  height: auto;
}

.swiper-slide {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.swiper-slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.swiper-scrollbar-drag {
  --swiper-scrollbar-drag-bg-color: #05c2df;
}

.logo {
  width: fit-content;
  display: flex;
}

.logo__img {
  width: 68px;
  height: 14px;
  transition: transform .3s;
}

.logo__img:hover {
  transform: scale(1.2);
}

@media (width >= 1280px) {
  .logo__img {
    width: 78px;
    height: 16px;
  }
}

.menu {
  z-index: 4;
  background-color: #191536;
}

.menu__content {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 20px;
  height: 100vh;
  display: grid;
  position: relative;
}

@media (width >= 640px) {
  .menu__content {
    --columns: 6;
  }
}

@media (width >= 1280px) {
  .menu__content {
    --columns: 12;
  }
}

@media (width >= 1440px) {
  .menu__content {
    --columns: 16;
  }
}

.menu__icon {
  background-image: url("close.fb298962.svg");
  background-size: cover;
  width: 17px;
  height: 17px;
  margin-top: 20px;
  transition: transform .3s;
  display: block;
  position: absolute;
  right: 0;
}

.menu__icon:hover {
  transform: scale(1.2);
}

@media (width >= 640px) {
  .menu__icon {
    margin-top: 34px;
  }

  .menu__nav {
    grid-column: 2 / -1;
  }
}

.menu__list {
  flex-direction: column;
  padding-top: 86px;
  list-style: none;
  display: flex;
}

@media (width >= 640px) {
  .menu__list {
    padding-top: 108px;
  }
}

.menu__link {
  color: #fff;
  padding-left: 25vw;
  width: 200vw;
  margin-left: -25vw;
  padding-block: 11px;
  font-size: 21px;
  font-weight: 500;
  line-height: 130%;
  text-decoration: none;
  transition: background-color .3s;
  display: block;
}

.menu__link:hover {
  color: #05c2df;
  background-color: #110e25;
}

.more-link {
  color: #05c2df;
  text-decoration: none;
  transition: color .3s;
  position: relative;
}

.more-link:hover {
  color: #fff;
}

.more-link:after {
  content: "";
  background-image: url("polygon-accent.cd1bb8d0.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 6px;
  display: block;
  position: absolute;
  bottom: -14px;
}

.more-link:hover:after {
  background-image: url("polygon-white.e3b46243.svg");
}

.play-video {
  color: #fff;
  background-image: url("play-video.72231611.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 209px;
  height: 66px;
  padding: 22px 0 22px 105px;
  font-weight: 500;
  line-height: 130%;
  text-decoration: none;
  transition: transform .3s;
  display: block;
}

.play-video:hover {
  color: #05c2df;
  transform: scale(1.2);
}

.select {
  cursor: pointer;
  color: #fff;
  background-color: #191536;
  border-radius: 4px;
  position: relative;
}

.select:after {
  content: "";
  background-image: url("polygon-accent.cd1bb8d0.svg");
  background-position: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 6px;
  display: block;
  position: absolute;
  bottom: 40%;
  right: 10px;
}

.accent-title {
  color: #05c2df;
  font-weight: 400;
}

.faq {
  z-index: 4;
  overflow: scroll;
}

.faq__wrapper {
  background-color: #191536;
}

@media (width >= 1280px) {
  .faq__wrapper {
    margin-top: 7%;
    width: 880px;
    margin-inline: auto;
  }
}

@media (width >= 1440px) {
  .faq__wrapper {
    width: 1280px;
  }
}

.faq__content {
  height: 100vh;
  padding-bottom: 60px;
  position: relative;
}

@media (width >= 1280px) {
  .faq__content {
    height: fit-content;
  }
}

.faq__icon {
  background-image: url("close.fb298962.svg");
  background-size: cover;
  width: 17px;
  height: 17px;
  margin-top: 20px;
  transition: transform .3s;
  display: block;
  position: absolute;
  right: 0;
}

.faq__icon:hover {
  transform: scale(1.2);
}

.faq__title {
  color: #fff;
  margin-bottom: 30px;
  padding-top: 68px;
  font-size: 21px;
  font-weight: 900;
  line-height: 130%;
}

@media (width >= 1280px) {
  .faq__title {
    font-size: 36px;
  }
}

.faq__questions {
  flex-direction: column;
  gap: 13px;
  display: flex;
}

@media (width >= 640px) {
  .faq__questions {
    margin-bottom: 50px;
  }
}

.faq__question {
  cursor: pointer;
  border: 1px solid #05c2df;
  border-radius: 4px;
  padding: 20px 12px 12px;
}

.faq__subtitle {
  color: #05c2df;
  margin-bottom: 18px;
}

.faq__info {
  display: none;
}

.faq__info--active {
  display: block;
}

.faq__answer {
  margin-bottom: 10px;
  padding-bottom: 24px;
}

.faq__update {
  color: #545454;
  padding-left: 2px;
  font-size: 12px;
}

.faq__more {
  display: none;
}

@media (width >= 640px) {
  .faq__more {
    text-align: center;
    display: block;
  }
}

.help {
  z-index: 4;
}

.help__wrapper {
  background-color: #191536;
}

@media (width >= 1280px) {
  .help__wrapper {
    margin-top: 10%;
    width: 880px;
    margin-inline: auto;
  }
}

@media (width >= 1440px) {
  .help__wrapper {
    width: 1280px;
  }
}

.help__content {
  flex-direction: column;
  gap: 30px;
  height: 100vh;
  display: flex;
  position: relative;
}

@media (width >= 1280px) {
  .help__content {
    height: fit-content;
  }
}

.help__icon {
  background-image: url("close.fb298962.svg");
  background-size: cover;
  width: 17px;
  height: 17px;
  margin-top: 20px;
  transition: transform .3s;
  display: block;
  position: absolute;
  right: 0;
}

.help__icon:hover {
  transform: scale(1.2);
}

.help__title {
  color: #fff;
  padding-top: 68px;
  font-size: 21px;
  font-weight: 900;
  line-height: 130%;
}

.help__description {
  flex-direction: column;
  gap: 24px;
  display: flex;
}

.help__bottom {
  flex-direction: column;
  gap: 30px;
  display: flex;
}

@media (width >= 640px) {
  .help__bottom {
    flex-direction: row;
    gap: 152px;
    margin-bottom: 80px;
  }
}

@media (width >= 1280px) {
  .help__bottom {
    gap: 70px;
  }
}

.help__list {
  flex-direction: column;
  gap: 20px;
  list-style: none;
  display: flex;
}

.help__link {
  color: #05c2df;
  text-decoration: none;
  transition: color .3s;
}

.help__link:hover {
  color: #fff;
}

.help__contacts {
  flex-direction: column;
  gap: 11px;
  display: flex;
}

@media (width >= 640px) {
  .help__contacts {
    gap: 25px;
  }
}

.help__contact {
  color: inherit;
  line-height: 1.19;
  text-decoration: none;
  transition: color .3s;
}

.help__contact:hover {
  color: #fff;
}

.order {
  z-index: 4;
  background: linear-gradient(100.83deg, #191536 .67%, #000 100%);
  overflow: scroll;
}

.order__content {
  position: relative;
}

@media (width >= 640px) {
  .order__content {
    --columns: 2;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: 20px;
    display: grid;
  }
}

@media (width >= 640px) and (width >= 640px) {
  .order__content {
    --columns: 6;
  }
}

@media (width >= 640px) and (width >= 1280px) {
  .order__content {
    --columns: 12;
  }
}

@media (width >= 640px) and (width >= 1440px) {
  .order__content {
    --columns: 16;
  }
}

.order__top {
  grid-column: 1 / -1;
  align-items: baseline;
}

@media (width >= 1280px) {
  .order__top {
    grid-column: 1 / 2;
  }
}

.order__icon {
  width: 17px;
  height: 17px;
}

@media (width >= 1280px) {
  .order__icon {
    display: none;
  }
}

.order__stages {
  grid-column: 1 / -1;
  margin-bottom: 30px;
}

@media (width >= 1280px) {
  .order__stages {
    grid-column: 2 / -1;
    margin: 0;
    padding-block: 30px;
  }
}

.order__list {
  list-style: none;
  display: flex;
}

.order__item {
  text-align: center;
  border-bottom: 1px solid #929292;
  flex: 1 0 33.33%;
  padding-block: 16px;
}

@media (width >= 1280px) {
  .order__item {
    border: none;
    padding-block: 0;
  }
}

.order__item--place-order {
  cursor: pointer;
}

.order__item--place-order:hover {
  color: #05c2df;
}

.order__item--active {
  color: #05c2df;
  border-color: #05c2df;
}

@media (width >= 1280px) {
  .order__item--active:after {
    content: "";
    background-color: #05c2df;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    margin: auto;
    display: block;
  }
}

.order__image {
  display: none;
}

@media (width >= 640px) {
  .order__image {
    grid-column: 2 / -2;
    width: 100%;
    display: block;
  }
}

@media (width >= 1280px) {
  .order__image {
    grid-column: 1 / 7;
    margin-top: 200px;
  }
}

@media (width >= 1440px) {
  .order__image {
    grid-column: 1 / 9;
  }
}

.order__image--complete {
  display: none;
}

.order__info {
  justify-content: space-around;
  margin-bottom: 30px;
  display: flex;
}

@media (width >= 640px) {
  .order__info {
    grid-column: 2 / 5;
    justify-content: space-between;
  }
}

@media (width >= 1280px) {
  .order__info {
    order: 1;
    grid-column: 1 / 5;
  }
}

.order__info--complete {
  display: none;
}

.order__quantity {
  text-align: center;
}

.order__select {
  font-size: 20px;
  line-height: 130%;
  position: relative;
}

.order__dropdown {
  z-index: 4;
  width: 100%;
  position: absolute;
  top: 46px;
}

.order__count {
  margin-top: 10px;
  padding: 8px 40px;
}

.order__price {
  text-align: center;
}

.order__amount {
  color: #05c2df;
  margin-top: 10px;
  font-size: 26px;
}

@media (width >= 640px) {
  .order__amount {
    font-size: 36px;
  }
}

.order__form {
  display: none;
}

@media (width >= 640px) {
  .order__form {
    grid-column: 1 / -1;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media (width >= 1280px) {
  .order__form {
    grid-area: 2 / 7 / 4 / -1;
    margin-top: 200px;
  }
}

@media (width >= 1440px) {
  .order__form {
    grid-column: 9 / -1;
  }
}

.order__form--active {
  display: grid;
}

.order__button {
  margin: 10px auto auto;
}

@media (width >= 640px) {
  .order__button {
    grid-column: 1 / -1;
  }
}

.order__pay {
  display: none;
}

@media (width >= 640px) {
  .order__pay {
    grid-column: 2 / -2;
  }
}

@media (width >= 1280px) {
  .order__pay {
    grid-area: 2 / 7 / 4 / -3;
    margin-top: 200px;
  }
}

@media (width >= 1440px) {
  .order__pay {
    grid-column: 9 / -3;
  }
}

.order__pay--active {
  display: grid;
}

.order__complete {
  grid-column: 1 / -1;
  margin-top: 90px;
  display: none;
}

@media (width >= 640px) {
  .order__complete {
    margin-top: 180px;
  }
}

@media (width >= 1280px) {
  .order__complete {
    margin-top: 250px;
  }
}

.order__complete--active {
  display: block;
}

.pay__card {
  justify-content: space-between;
  gap: 7%;
  display: flex;
}

.pay__visa {
  display: none;
}

@media (width >= 640px) {
  .pay__visa {
    width: 54px;
    height: 34px;
    display: block;
  }
}

.pay__wrapper {
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  display: grid;
}

.pay__button {
  margin: 10px auto auto;
}

.complete {
  color: #fff;
  text-align: center;
}

.complete__title {
  text-transform: uppercase;
  margin-top: 90px;
  margin-bottom: 16px;
  font-size: 26px;
}

.complete__text {
  margin-bottom: 30px;
}

.complete__button {
  margin: auto;
}

.count__list {
  display: none;
}

.count__list--active {
  display: block;
}

.count__item--active {
  background-color: #110e25;
}

.countries__list {
  display: none;
}

.countries__list--active {
  display: block;
}

.countries__item {
  padding-left: 24px;
  padding-block: 5px;
}

.countries__item--active, .cities__list {
  display: none;
}

.cities__list--active {
  display: block;
}

.cities__item {
  padding-left: 24px;
  padding-block: 5px;
}

.cities__item--active {
  display: none;
}

.main__wrapper {
  background-color: #05040b;
}

@media (width >= 1280px) {
  .main__wrapper {
    padding-bottom: 90px;
  }
}

.main__button {
  margin: 50px auto;
  display: block;
  position: sticky;
}

@media (width >= 1280px) {
  .main__button {
    width: 200px;
    position: relative;
    bottom: 0;
  }
}

.more {
  background-color: #05040b;
}

.more__content {
  flex-direction: column;
  padding-block: 50px;
  display: flex;
}

@media (width >= 640px) {
  .more__content {
    align-items: center;
    padding-block: 70px;
  }
}

@media (width >= 1280px) {
  .more__content {
    padding-block: 100px;
  }
}

@media (width >= 1440px) {
  .more__content {
    padding-block: 158px;
  }
}

.more__title {
  margin-bottom: 12px;
}

@media (width >= 1280px) {
  .more__title {
    margin-bottom: 16px;
  }
}

.more__text {
  color: #05c2df;
  margin-bottom: 30px;
  font-size: 12px;
}

@media (width >= 1280px) {
  .more__text {
    margin-bottom: 83px;
    font-size: 14px;
  }
}

@media (width >= 1440px) {
  .more__text {
    margin-bottom: 70px;
  }
}

.more__container {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 20px;
  display: grid;
}

@media (width >= 640px) {
  .more__container {
    --columns: 6;
  }
}

@media (width >= 1280px) {
  .more__container {
    --columns: 12;
  }
}

@media (width >= 1440px) {
  .more__container {
    --columns: 16;
  }
}

@media (width >= 640px) {
  .more__container {
    row-gap: 40px;
  }
}

.more__interest {
  -webkit-line-clamp: 3;
  line-clamp: 3;
  text-overflow: ellipsis;
  border: 1px solid #0000;
  border-radius: 4px;
  -webkit-box-orient: vertical;
  grid-column: 1 / -1;
  padding: 5px;
  transition: display .3s;
  display: -webkit-box;
  overflow: hidden;
}

.more__interest:hover {
  border: 1px solid #05c2df;
  display: block;
  box-shadow: 0 0 10px 5px #05c2df;
}

@media (width >= 640px) {
  .more__interest {
    flex-direction: column;
    grid-column: span 3;
    align-items: center;
    transition: display .3s;
    display: flex;
  }

  .more__interest:hover {
    display: flex;
  }
}

@media (width >= 1440px) {
  .more__interest {
    grid-column: span 4;
  }
}

.more__image {
  margin-bottom: 22px;
  display: none;
}

@media (width >= 640px) {
  .more__image {
    display: block;
  }
}

@media (width >= 1280px) {
  .more__image {
    margin-bottom: 30px;
  }
}

@media (width >= 1440px) {
  .more__image {
    margin-bottom: 20px;
  }
}

.more__subtitle {
  color: #fff;
  margin-bottom: 11px;
  font-size: 16px;
  font-weight: 900;
}

@media (width >= 640px) {
  .more__subtitle {
    margin-bottom: 20px;
  }
}

@media (width >= 1440px) {
  .more__subtitle {
    font-size: 18px;
  }
}

@media (width >= 640px) {
  .more__description {
    text-align: center;
  }
}

.section-title {
  color: #fff;
  font-size: 21px;
  font-weight: 900;
}

@media (width >= 1280px) {
  .section-title {
    font-size: 36px;
  }
}

.about {
  background: linear-gradient(100.83deg, #191536 .67%, #000 100%);
}

.about__container {
  padding-block: 50px;
}

@media (width >= 640px) {
  .about__container {
    --columns: 2;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: 84px 20px;
    padding-block: 70px;
    display: grid;
    overflow: hidden;
  }
}

@media (width >= 640px) and (width >= 640px) {
  .about__container {
    --columns: 6;
  }
}

@media (width >= 640px) and (width >= 1280px) {
  .about__container {
    --columns: 12;
  }
}

@media (width >= 640px) and (width >= 1440px) {
  .about__container {
    --columns: 16;
  }
}

@media (width >= 1280px) {
  .about__container {
    row-gap: 226px;
    padding-block: 100px;
  }
}

@media (width >= 1440px) {
  .about__container {
    row-gap: 220px;
    padding-block: 150px;
  }
}

.about__slider {
  margin-bottom: 20px;
  position: relative;
}

@media (width >= 640px) {
  .about__slider {
    grid-column: span 3;
  }
}

@media (width >= 1280px) {
  .about__slider {
    grid-column: 3 / 8;
  }
}

@media (width >= 1440px) {
  .about__slider {
    grid-column: 4 / 11;
  }
}

.about__img {
  object-fit: contain;
  width: 100%;
  margin-bottom: 14px;
  display: block;
}

@media (width >= 640px) {
  .about__img {
    aspect-ratio: 1 / .85;
    object-fit: cover;
  }
}

@media (width >= 1280px) {
  .about__img {
    aspect-ratio: auto;
  }
}

@media (width >= 1440px) {
  .about__img {
    aspect-ratio: 3 / 1.3;
  }
}

@media (width >= 1280px) {
  .about__boolets {
    display: none;
  }
}

.about__navigation {
  display: none;
}

@media (width >= 1280px) {
  .about__navigation {
    justify-content: space-between;
    width: 50%;
    margin-bottom: 10px;
    display: flex;
  }
}

.about__scrollbar {
  display: none;
}

@media (width >= 1280px) {
  .about__scrollbar {
    display: block;
  }
}

.about__switch {
  justify-content: center;
  gap: 6px;
  display: flex;
}

@media (width >= 1280px) {
  .about__switch {
    display: none;
  }
}

@media (width >= 640px) {
  .about__main {
    grid-column: span 3;
  }
}

@media (width >= 1280px) {
  .about__main {
    grid-column: 9 / -1;
  }
}

@media (width >= 1440px) {
  .about__main {
    grid-column: 12 / -1;
  }
}

.about__title {
  margin-bottom: 20px;
}

@media (width >= 640px) {
  .about__title--before {
    display: none;
  }
}

.about__title--after {
  display: none;
}

@media (width >= 640px) {
  .about__title--after {
    margin-bottom: 30px;
    display: block;
  }
}

.about__text {
  padding-bottom: 24px;
}

.about__play-video {
  margin-top: 14px;
  margin-bottom: 107px;
}

@media (width >= 640px) {
  .about__play-video {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .about__additional {
    grid-column: span 4;
  }
}

@media (width >= 1280px) {
  .about__additional {
    grid-column: span 5;
  }
}

@media (width >= 1440px) {
  .about__additional {
    grid-column: 2 / 8;
  }
}

.about__hello {
  color: #05c2df;
  margin-bottom: 11px;
  font-size: 14px;
  line-height: 130%;
}

.about__subtitle {
  margin-bottom: 22px;
}

.about__picture-style {
  display: none;
}

@media (width >= 640px) {
  .about__picture-style {
    background-image: url("about-style.5f9dbd44.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    grid-column: span 2;
    display: block;
  }
}

@media (width >= 1280px) {
  .about__picture-style {
    grid-column: 7 / -1;
    transform: scale(1, 1.2);
  }
}

@media (width >= 1440px) {
  .about__picture-style {
    grid-column: 9 / -1;
  }
}

.about .swiper-pagination {
  --swiper-pagination-bullet-size: 4px;
  --swiper-pagination-color: #ababab;
  --swiper-pagination-bullet-inactive-color: #484848;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bottom: 0;
  font-size: 4px;
  line-height: 1;
}

.about .swiper-pagination-fraction {
  --swiper-pagination-bottom: 1;
  color: #05c2df;
  font-size: 14px;
  line-height: 1.21;
  transform: translate(calc(-55% - 20px));
}

.about .swiper-scrollbar {
  --swiper-scrollbar-bg-color: #212121;
  --swiper-scrollbar-size: 2px;
  --swiper-scrollbar-bottom: 0;
  --swiper-scrollbar-sides-offset: 25%;
  transform: translate(-50%);
}

.about .swiper-button-next-out, .about .swiper-button-prev-out {
  cursor: pointer;
  color: #fff;
}

.about .swiper-button-disabled {
  cursor: no-drop;
  color: #929292;
}

.tech {
  background-color: #05040b;
}

.tech__content {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: auto;
  justify-content: center;
  column-gap: 20px;
  padding-block: 50px;
  display: grid;
  position: relative;
}

@media (width >= 640px) {
  .tech__content {
    --columns: 6;
  }
}

@media (width >= 1280px) {
  .tech__content {
    --columns: 12;
  }
}

@media (width >= 1440px) {
  .tech__content {
    --columns: 16;
  }
}

@media (width >= 640px) {
  .tech__content {
    padding-block: 80px;
  }
}

@media (width >= 1280px) {
  .tech__content {
    padding-block: 100px;
  }
}

@media (width >= 1440px) {
  .tech__content {
    padding-block: 160px;
  }
}

.tech__title {
  grid-column: 1;
  margin-bottom: 30px;
}

@media (width >= 640px) {
  .tech__title {
    grid-column: span 2;
    margin-bottom: 58px;
  }
}

@media (width >= 1280px) {
  .tech__title {
    grid-column: 9 / -1;
    margin-bottom: 80px;
  }
}

@media (width >= 1440px) {
  .tech__title {
    grid-column: 12 / -1;
  }
}

.tech__container {
  background-image: url("tech.3a10d775.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  grid-column: span 2;
  justify-self: center;
  width: 200px;
  height: 200px;
  position: relative;
}

@media (width >= 640px) {
  .tech__container {
    grid-column: span 6;
    width: 350px;
    height: 350px;
  }
}

@media (width >= 1280px) {
  .tech__container {
    grid-area: 2 / 5 / 4 / 9;
    width: 300px;
    height: 300px;
    margin-top: 52px;
  }
}

@media (width >= 1440px) {
  .tech__container {
    grid-column: 7 / 11;
    margin-top: 60px;
  }
}

@media (width >= 1280px) {
  .tech__semiline {
    background-image: url("semicircle-line.d6fcf4d8.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 200px;
    animation-name: semiline;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    position: absolute;
    top: 44px;
    left: -10px;
  }
}

.tech__circle {
  background-image: url("circle-close.f22bb7d6.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  transition: box-shadow .3s;
  position: absolute;
}

.tech__circle:hover {
  box-shadow: 0 0 10px 5px #05c2df;
}

.tech__circle--active {
  background-image: url("circle-open.382ce460.svg");
  transition: box-shadow .3s;
}

.tech__circle--active:hover {
  box-shadow: 0 0 10px 5px #07798b;
}

@media (width >= 640px) {
  .tech__circle {
    width: 6 2px;
    height: 62px;
  }
}

@media (width >= 1280px) {
  .tech__circle {
    display: none;
  }
}

.tech__circle--1 {
  top: -10px;
  left: 62px;
}

@media (width >= 640px) {
  .tech__circle--1 {
    top: -25px;
    left: 66px;
  }
}

.tech__circle--2 {
  top: 160px;
  left: -18px;
}

@media (width >= 640px) {
  .tech__circle--2 {
    top: 270px;
    left: -60px;
  }
}

.tech__circle--3 {
  top: 80px;
  left: 136px;
}

@media (width >= 640px) {
  .tech__circle--3 {
    top: 140px;
    left: 240px;
  }
}

.tech__line {
  display: none;
}

@media (width >= 1280px) {
  .tech__line {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    position: absolute;
  }

  .tech__line--1 {
    background-image: url("line1.3302c6ba.svg");
    width: 403px;
    height: 72px;
    top: -46px;
    left: -254px;
  }
}

@media (width >= 1440px) {
  .tech__line--1 {
    width: 362px;
    top: -48px;
    left: -214px;
  }
}

@media (width >= 1280px) {
  .tech__line--2 {
    background-image: url("line2.65d9281a.svg");
    width: 134px;
    height: 113px;
    top: 85px;
    left: -150px;
  }
}

@media (width >= 1440px) {
  .tech__line--2 {
    width: 144px;
    top: 80px;
    left: -160px;
  }
}

@media (width >= 1280px) {
  .tech__line--3 {
    background-image: url("line3.f845611d.svg");
    width: 182px;
    height: 245px;
    top: -85px;
    left: 150px;
  }
}

@media (width >= 1440px) {
  .tech__line--3 {
    width: 220px;
    top: -70px;
  }
}

.tech__details {
  z-index: 3;
  background-color: #191536;
  border-radius: 10px;
  padding: 20px 10px;
  font-size: 12px;
  display: none;
  position: absolute;
}

.tech__details--active {
  display: block;
}

@media (width >= 640px) {
  .tech__details {
    font-size: 16px;
  }
}

@media (width >= 1280px) {
  .tech__details {
    background-color: #0000;
    padding: 0;
    display: block;
    position: static;
    top: 0;
    left: 0;
  }
}

.tech__details--1 {
  top: 130px;
  left: 25%;
}

@media (width >= 640px) {
  .tech__details--1 {
    top: 210px;
  }
}

@media (width >= 1280px) {
  .tech__details--1 {
    grid-column: span 3;
  }
}

@media (width >= 1440px) {
  .tech__details--1 {
    grid-column: 3 / 7;
  }
}

.tech__details--2 {
  top: 75px;
  left: 20%;
}

@media (width >= 640px) {
  .tech__details--2 {
    top: 260px;
  }
}

@media (width >= 1280px) {
  .tech__details--2 {
    grid-column: 9 / -1;
  }
}

@media (width >= 1440px) {
  .tech__details--2 {
    grid-column: 12 / -1;
  }
}

.tech__details--3 {
  top: 225px;
  left: 25%;
}

@media (width >= 640px) {
  .tech__details--3 {
    top: 180px;
    left: 40%;
  }
}

@media (width >= 1280px) {
  .tech__details--3 {
    grid-column: 2 / span 3;
  }
}

@media (width >= 1440px) {
  .tech__details--3 {
    grid-column: 3 / 6;
  }
}

.tech__subtitle {
  color: #fff;
  margin-bottom: 21px;
  font-size: 18px;
  font-weight: 900;
  display: none;
}

@media (width >= 1280px) {
  .tech__subtitle {
    display: block;
  }
}

@keyframes semiline {
  0% {
    top: 44px;
    left: -10px;
  }

  50% {
    top: 26px;
    left: -8px;
    transform: rotate(.02turn);
  }

  100% {
    top: 44px;
    left: -10px;
  }
}

.benefits {
  background: linear-gradient(100.83deg, #191536 .67%, #000 100%);
}

.benefits__content {
  padding-block: 50px;
}

@media (width >= 640px) {
  .benefits__content {
    padding-block: 70px;
  }
}

@media (width >= 1280px) {
  .benefits__content {
    padding-block: 100px;
  }
}

@media (width >= 1440px) {
  .benefits__content {
    padding-block: 160px;
  }
}

.benefits__title {
  margin-bottom: 32px;
}

@media (width >= 1280px) {
  .benefits__title {
    text-align: center;
    margin-bottom: 84px;
  }
}

@media (width >= 1440px) {
  .benefits__title {
    margin-bottom: 82px;
  }
}

.benefits__container {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 20px;
  display: grid;
}

@media (width >= 640px) {
  .benefits__container {
    --columns: 6;
  }
}

@media (width >= 1280px) {
  .benefits__container {
    --columns: 12;
  }
}

@media (width >= 1440px) {
  .benefits__container {
    --columns: 16;
    justify-content: space-between;
  }
}

.benefits__benefit {
  border: 1px solid #0000;
  border-radius: 4px;
  grid-column: 1 / -1;
  padding: 5px;
  transition: box-shadow .3s;
}

.benefits__benefit:hover {
  border: 1px solid #05c2df;
  box-shadow: 0 0 10px 5px #05c2df;
}

@media (width >= 640px) {
  .benefits__benefit {
    grid-column: span 2;
  }
}

@media (width >= 1280px) {
  .benefits__benefit {
    grid-column: span 4;
  }
}

@media (width >= 1440px) {
  .benefits__benefit:first-child {
    grid-column: 1 / span 4;
  }

  .benefits__benefit:nth-child(2) {
    grid-column: 7 / span 4;
  }

  .benefits__benefit:nth-child(3) {
    grid-column: 13 / span 4;
  }
}

.benefits__image {
  display: none;
}

@media (width >= 640px) {
  .benefits__image {
    margin: auto auto 26px;
    display: block;
  }
}

@media (width >= 1280px) {
  .benefits__image {
    margin-bottom: 30px;
  }
}

.benefits__description {
  -webkit-line-clamp: 4;
  line-clamp: 4;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  transition: display .3s;
  display: -webkit-box;
  overflow: hidden;
}

.benefits__description:hover {
  display: block;
}

@media (width >= 1280px) {
  .benefits__description {
    display: block;
  }
}

.benefits__subtitle {
  color: #fff;
  margin-bottom: 11px;
  font-size: 18px;
  font-weight: 900;
  line-height: 105%;
}

@media (width >= 640px) {
  .benefits__subtitle {
    text-align: center;
    font-size: 16px;
    line-height: 120%;
  }
}

@media (width >= 1280px) {
  .benefits__subtitle {
    margin-bottom: 16px;
  }
}

@media (width >= 640px) {
  .benefits__text {
    text-align: center;
  }
}

.contact {
  background-color: #05040b;
}

.contact__container {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 20px;
  padding-block: 50px;
  display: grid;
}

@media (width >= 640px) {
  .contact__container {
    --columns: 6;
  }
}

@media (width >= 1280px) {
  .contact__container {
    --columns: 12;
  }
}

@media (width >= 1440px) {
  .contact__container {
    --columns: 16;
  }
}

@media (width >= 640px) {
  .contact__container {
    padding-top: 70px;
    padding-bottom: 130px;
  }
}

@media (width >= 1280px) {
  .contact__container {
    padding-block: 100px;
  }
}

@media (width >= 1440px) {
  .contact__container {
    padding-top: 160px;
    padding-bottom: 205px;
  }
}

.contact__title {
  grid-column: 1 / -1;
  margin-bottom: 32px;
}

@media (width >= 640px) {
  .contact__title {
    grid-column: 1 / 4;
    margin-bottom: 50px;
  }
}

@media (width >= 1280px) {
  .contact__title {
    grid-column: span 6;
    margin-bottom: 26px;
  }
}

@media (width >= 1440px) {
  .contact__title {
    grid-column: span 8;
  }
}

.contact__subtitle {
  color: #05c2df;
  margin-bottom: 11px;
  font-size: 14px;
}

@media (width >= 1280px) {
  .contact__subtitle {
    margin-bottom: 13px;
  }
}

.contact__form {
  margin-bottom: 30px;
}

@media (width >= 640px) {
  .contact__form {
    grid-area: span 4 / 4 / auto / -1;
    margin-bottom: 0;
  }
}

@media (width >= 1280px) {
  .contact__form {
    grid-column: span 6;
  }
}

@media (width >= 1440px) {
  .contact__form {
    grid-column: span 8;
  }
}

@media (width >= 640px) {
  .contact__button {
    width: 200px;
    margin-top: 24px;
  }
}

@media (width >= 1280px) {
  .contact__button {
    margin-top: 26px;
  }
}

.contact__text {
  grid-column: 1 / -1;
  font-size: 12px;
}

@media (width >= 640px) {
  .contact__text {
    grid-column: 1 / 4;
    margin-bottom: 76px;
  }
}

@media (width >= 1280px) {
  .contact__text {
    grid-column: span 6;
  }
}

.contact__contacts {
  display: none;
}

@media (width >= 640px) {
  .contact__contacts {
    flex-direction: column;
    grid-column: 1 / 4;
    gap: 8px;
    display: flex;
  }
}

.contact__link {
  color: inherit;
  text-decoration: none;
  transition: color .3s;
}

.contact__link:hover {
  color: #05c2df;
}

.scroll-up {
  z-index: 3;
  background-image: url("scroll-up.90f40deb.svg");
  background-size: cover;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  transition: box-shadow .3s;
  display: none;
  position: fixed;
  bottom: 200px;
  right: 20px;
  box-shadow: 0 0 15px 4px #05c2df, inset 0 0 15px 4px #05c2df;
}

.scroll-up:hover {
  background-image: url("scroll-up-hover.6989e5ea.svg");
  box-shadow: 0 0 15px 4px #fff, inset 0 0 15px 4px #fff;
}

.scroll-up--active {
  display: block;
}

.video {
  display: none;
}

.video--active {
  z-index: 55;
  background-color: #000000b3;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.video__content {
  aspect-ratio: 16 / 9;
  width: 80%;
  margin: auto;
  position: relative;
}

.video__close {
  background-image: url("close.fb298962.svg");
  width: 20px;
  height: 20px;
  transition: transform .3s;
  position: absolute;
  top: 15px;
  right: 13px;
}

.video__close:hover {
  background-image: url("close-accent.e1c1add8.svg");
  transform: scale(1.2);
}

.video__iframe {
  width: 100%;
  height: 100%;
}

.dropdown {
  background-color: #191536;
  border: 1px solid #05c2df;
  border-radius: 4px;
  list-style: none;
  box-shadow: 0 0 10px 2px #05c2df;
}

.dropdown__item {
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  transition: background-color .3s;
}

.dropdown__item:hover {
  color: #05c2df;
  background-color: #110e25;
}

.language {
  z-index: 4;
  background-color: #191536;
}

.language__content {
  --columns: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 20px;
  height: 100vh;
  display: grid;
  position: relative;
}

@media (width >= 640px) {
  .language__content {
    --columns: 6;
  }
}

@media (width >= 1280px) {
  .language__content {
    --columns: 12;
  }
}

@media (width >= 1440px) {
  .language__content {
    --columns: 16;
  }
}

.language__icon {
  background-image: url("back.8a92b0fb.svg");
  background-size: cover;
  width: 8px;
  height: 17px;
  margin-top: 20px;
  transition: transform .3s;
  display: block;
  position: absolute;
}

.language__icon:hover {
  transform: scale(1.2);
}

@media (width >= 640px) {
  .language__icon {
    margin-top: 33px;
  }

  .language__nav {
    grid-column: 2 / -1;
  }
}

.language__list {
  flex-direction: column;
  padding-top: 86px;
  list-style: none;
  display: flex;
}

.language__item {
  cursor: pointer;
  color: #fff;
  padding-left: 25vw;
  width: 200vw;
  margin-left: -25vw;
  padding-block: 11px;
  font-size: 21px;
  font-weight: 500;
  line-height: 130%;
  transition: background-color .3s;
}

.language__item:hover {
  color: #05c2df;
  background-color: #110e25;
}

.language__item--active {
  background-color: #110e25;
}

.language__link {
  color: inherit;
  width: 100%;
  text-decoration: none;
}

.lang__button {
  cursor: pointer;
  background-color: inherit;
  border: none;
  padding: 0 10px 0 0;
  font-size: 16px;
}

@media (width >= 1280px) {
  .lang__button {
    color: #05c2df;
    transition: color .3s;
    position: relative;
  }

  .lang__button:hover {
    color: #fff;
  }

  .lang__button:after {
    content: "";
    background-image: url("polygon-accent.cd1bb8d0.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 6px;
    display: block;
    position: absolute;
    bottom: 4px;
    right: -15px;
  }

  .lang__button:hover:after {
    background-image: url("polygon-white.e3b46243.svg");
  }
}

.lang__list {
  pointer-events: none;
  opacity: 0;
  width: max-content;
  transition: all .3s ease-out;
  position: absolute;
  transform: translateY(-15px);
}

.lang__list--active {
  pointer-events: all;
  opacity: 1;
  transition: all .3s ease-out;
  transform: translateY(0);
}

.lang__item {
  padding: 5px 10px;
}

.lang__item--active {
  background-color: #110e25;
}
/*# sourceMappingURL=index.971c2ea4.css.map */
